{% extends 'base.html' %}
{% block content %}


<pre>
          ╔═══╗╔╗                        ╔═══╗      ╔╗              ╔═══╗           ╔╗
          ║╔═╗║║║                        ║╔═╗║      ║║              ║╔═╗║           ║║
          ║╚═╝║║╚═╗╔══╗╔══╗╔═╗ ╔╗╔╗╔╗    ║║ ╚╝╔══╗╔═╝║╔╗╔═╗ ╔══╗    ║║ ║║╔══╗╔══╗ ╔═╝║╔══╗╔╗╔╗╔╗ ╔╗
          ║╔══╝║╔╗║║╔╗║║╔╗║║╔╗╗╠╣╚╬╬╝    ║║ ╔╗║╔╗║║╔╗║╠╣║╔╗╗║╔╗║    ║╚═╝║║╔═╝╚ ╗║ ║╔╗║║╔╗║║╚╝║║║ ║║
          ║║   ║║║║║╚╝║║║═╣║║║║║║╔╬╬╗    ║╚═╝║║╚╝║║╚╝║║║║║║║║╚╝║    ║╔═╗║║╚═╗║╚╝╚╗║╚╝║║║═╣║║║║║╚═╝║
          ╚╝   ╚╝╚╝╚══╝╚══╝╚╝╚╝╚╝╚╝╚╝    ╚═══╝╚══╝╚══╝╚╝╚╝╚╝╚═╗║    ╚╝ ╚╝╚══╝╚═══╝╚══╝╚══╝╚╩╩╝╚═╗╔╝
                                                            ╔═╝║                              ╔═╝║
                                                            ╚══╝                              ╚══╝


   _____                            _               _____      _                        _____ _       _
  / ____|                          | |             / ____|    (_)                      / ____| |     | |
 | |     ___  _ __ ___  _ __  _   _| |_ ___ _ __  | (___   ___ _  ___ _ __   ___ ___  | |    | |_   _| |__
 | |    / _ \| '_ ` _ \| '_ \| | | | __/ _ \ '__|  \___ \ / __| |/ _ \ '_ \ / __/ _ \ | |    | | | | | '_ \
 | |___| (_) | | | | | | |_) | |_| | ||  __/ |     ____) | (__| |  __/ | | | (_|  __/ | |____| | |_| | |_) |
  \_____\___/|_| |_| |_| .__/ \__,_|\__\___|_|    |_____/ \___|_|\___|_| |_|\___\___|  \_____|_|\__,_|_.__/
                       | |
                       |_|

</pre>


<a href="{{ url_for('_subjects') }}">SUBJECTS</a>
|
<a href="{{ url_for('_yaml') }}">YAML</a>


{{ school.Markdown("README.md") | safe }}

{% endblock %}