h1, h2, h3 {
  padding-top: 20px;
}

blockquote {
  margin-left: 20px;
  font-style: italic;
  font-size: larger;
}

pre {
  background-color: gainsboro;
  /*background-color: ghostwhite;*/
  padding: 10px;
  color: black;
}