h1, h2, h3 {
  padding-top: 20px;
}

blockquote {
  margin-left: 20px;
  font-style: italic;
  font-size: larger;
}

.pretitle {
  background-color: cadetblue;
  padding: 10px;
  color: whitesmoke;
}

pre {
  background-color: oldlace;
  padding: 10px;
  color: black;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px 30px;
  text-align: right;
}

table {
  margin: 10px 0px;
}

th {
  font-size: larger;
}